<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herreria Uruguay</title>
    <meta name="descripcion" content="¿Buscas una herrería? Sin duda nosotros somos la mejor opción.
    Realizamos todo trabajo en hierro que te puedas imaginar, reparaciones y construcciones de calidad.">
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
    <header>
        <nav>        
            <ul class="barra_navegacion">
                <li><a href="../index.html">INICIO</a></li> 
                <li><a href="productos.html">GALERIA</a></li>
                <li><a href="presupuesto.html">PRESUPUESTOS</a></li>
                <li style=" background-color: #ff8000;"><a style="color: black;"  href="contacto.html">CONTACTO</a></li>
            </ul>         
        </nav>    
    </header>
    <main>
        <div class="contenedor_caja_contacto">
            <h2>- COMUNICATE CON NOSOTROS -</h2>
            <div class="caja_contacto">
                <div>
                    <h6>MAIL</h6>
                    <div>
                        <p>gaston_sol1951@hotmail.com</p> 
                    </div>
                </div> 
                <div>
                    <h6>WHATSAPP</h6>
                    <div>
                        <p>604 43 89 18 / 660 00 12 94</p>
                    </div>
                </div> 
                <div>
                    <h6>INSTAGRAM</h6>
                    <div>
                        <p>@herreria.uruguay</p>
                    </div>
                </div>     
            </div>
        </div>
        <div class="localizacion">
            <h2>- LOCALIZACION -</h2>
            <img class="foto_mapa" src="../Imagenes/contacto/mapa.png" alt="un mapa donde muesta la ubicacion de la herreria"> 
            <div class="ubicacion">
                <img class="foto_ubicacion" src="../Imagenes/contacto/ubicacion.png" alt="logo de ubicacion">
                <p>Pincha <a target="_blank" href="https://www.google.com/maps/place/36%C2%B032'50.5%22N+4%C2%B040'37.2%22W/@36.5473692,-4.6791889,17z/data=!3m1!4b1!4m4!3m3!8m2!3d36.5473692!4d-4.6770002?hl=es">AQUÍ</a> para dirigirte a Google Maps</p>
                <img class="foto_ubicacion" src="../Imagenes/contacto/ubicacion.png" alt="logo de ubicacion">
            </div>
        </div>       
    </main>
    <footer>
        <div class="footer">
            <div class="titulo_footer">
                <h2>HERRERIA URUGUAY</h2>
            </div>
            <div class="linea"></div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/mail.png" alt="Logo mail">
                    <p>gaston_sol1951@hotmail.com</p>   
                </div>  
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/whatsapp.png" alt="whatsapp">
                    <p>604 43 89 18 <br> 660 00 12 94</p> 
                </div>     
                <div class="redes_sociales">
                    <a href="https://www.instagram.com/herreria.uruguay/"><img class="logo_footer" src="../Imagenes/index/instagram.png" alt="Logo instagram"></a>
                    <p>herreria.uruguay</p>
                </div>                  
            </div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales_ubicacion">
                    <a href="contacto.html"><img class="logo_footer" src="../Imagenes/contacto/ubicacion.png" alt="logo de ubicacion"></a>
                    <p> Aquí nos puedes encontrar </p>
                </div>
                <hr>
                <div class="copyright">
                    <p>	&copy; 2023 - Gaston Balbi</p> <br>
                    <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Política de privacidad y aviso legal</a>
                </div>
            </div>    
        </div>   
</footer>
</body>
</html>


