<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herreria Uruguay</title>
    <meta name="descripcion" content="¿Buscas una herrería? Sin duda nosotros somos la mejor opción.
    Realizamos todo trabajo en hierro que te puedas imaginar, reparaciones y construcciones de calidad.">
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
    <header>
        <nav>        
            <ul class="barra_navegacion">
                <li ><a href="../index.html">INICIO</a></li> 
                <li ><a href="productos.html">GALERIA</a></li>
                <li style=" background-color: #ff8000;"><a style="color: black;"  href="presupuesto.html">PRESUPUESTOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>         
        </nav>    
    </header>
    <main>
        <div class="formulario">
            <form>
                NOMBRE Y APELLIDOS: <input type="text" class="input_form"> <br><br>
                EMAIL:  <input type="email" name="email" id="email" class="input_form"><br><br>
                TELEFONO: <input type="tel" class="input_form"><br><br>
                SOLICITE MAS INFORMACION: <textarea name="caja_de_texto" id="caja_de_texto" cols="78" rows="10"></textarea><br><br>
                <input type="checkbox" name="aceptar_politica" id="aceptar_politica" required> Aceptar "Politica de privacidad"<br><br>
                <input type="reset" value="Borrar Datos"> 
                <input type="submit" value="Enviar Datos" class="input_submit">
            </form>
        </div>        
    </main>
    <footer>
        <div class="footer">
            <div class="titulo_footer">
                <h2>HERRERIA URUGUAY</h2>
            </div>
            <div class="linea"></div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/mail.png" alt="Logo mail">
                    <p>gaston_sol1951@hotmail.com</p>   
                </div>  
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/whatsapp.png" alt="whatsapp">
                    <p>604 43 89 18 <br> 660 00 12 94</p> 
                </div>     
                <div class="redes_sociales">
                    <a href="https://www.instagram.com/herreria.uruguay/"><img class="logo_footer" src="../Imagenes/index/instagram.png" alt="Logo instagram"></a>
                    <p>herreria.uruguay</p>
                </div>                  
            </div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales_ubicacion">
                    <a href="views/contacto.html"><img class="logo_footer" src="../Imagenes/contacto/ubicacion.png" alt="logo de ubicacion"></a>
                    <p> Aquí nos puedes encontrar </p>
                </div>
                <hr>
                <div class="copyright">
                    <p>	&copy; 2023 - Gaston Balbi</p> <br>
                    <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Política de privacidad y aviso legal</a>
                </div>
            </div>    
        </div>   
    </footer>
</body>
</html>