<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Herreria Uruguay</title>
    <meta name="descripcion" content="¿Buscas una herrería? Sin duda nosotros somos la mejor opción.
    Realizamos todo trabajo en hierro que te puedas imaginar, reparaciones y construcciones de calidad.">    
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
    <header>
        <nav>        
            <ul class="barra_navegacion">
                <li ><a  href="../index.html">INICIO</a></li> 
                <li style=" background-color: #ff8000;"><a style="color: black;" href="productos.html">GALERIA</a></li> 
                <li><a href="presupuesto.html">PRESUPUESTOS</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>         
        </nav>    
    </header>
    <main class="galeria"> 
        <h2>- NUESTROS TRABAJOS -</h2>
        <div>
            <div class="titulos_fotos_derecha">
                <p>BARBACOA MULTIFUNCION</p>
            </div>
            <div class="imagenes_derecha">
                <img class="fotos_galeria" src="../Imagenes/galeria/barbacoa_parrilla.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/barbacoa_pincho.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/barbacoa_en_construccion01.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/barbacoa_en_construccion02.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="titulos_fotos_izquierda">
                <p>MESAS Y BANCOS A MEDIDA</p>
            </div>
            <div>
                <img class="fotos_galeria" src="../Imagenes/galeria/mesa_y_banco01.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/mesa_y_banco02.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/mesa_y_banco03.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/mesa_y_banco04.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="titulos_fotos_derecha">
                <p>ESTRUCTURA PARA DEPOSITO</p>
            </div>
            <div class="imagenes_derecha">
                <img class="fotos_galeria" src="../Imagenes/galeria/estructura03.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/estructura04.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/estructura02.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/estructura01.jpg" alt="">
            </div>
        </div>
        <div>
            <div class="titulos_fotos_izquierda">
                <p>REPARACION DE REJA</p>
            </div>
            <div>
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_por_reparar.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_reparandose.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_puntero.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_reparada.jpg" alt="">
            </div>
        </div>
        <div class="reparacion_reja">
            <div class="titulos_fotos_derecha">
                <p>REJAS A MEDIDA</p>
            </div>
            <div class="imagenes_derecha">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_colocada.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_redonda.jpg" alt="">
                <img class="fotos_galeria" src="../Imagenes/galeria/reja_redonda_colocada.jpg" alt="">
            </div>
        </div>    
    </main>
    <footer>
        <div class="footer">
            <div class="titulo_footer">
                <h2>HERRERIA URUGUAY</h2>
            </div>
            <div class="linea"></div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/mail.png" alt="Logo mail">
                    <p>gaston_sol1951@hotmail.com</p>   
                </div>  
                <div class="redes_sociales">
                    <img class="logo_footer" src="../Imagenes/index/whatsapp.png" alt="whatsapp">
                    <p>604 43 89 18 <br> 660 00 12 94</p> 
                </div>     
                <div class="redes_sociales">
                    <a href="https://www.instagram.com/herreria.uruguay/"><img class="logo_footer" src="../Imagenes/index/instagram.png" alt="Logo instagram"></a>
                    <p>herreria.uruguay</p>
                </div>                  
            </div>
            <div class="caja_de_redes_sociales">
                <div class="redes_sociales_ubicacion">
                    <a href="contacto.html"><img class="logo_footer" src="../Imagenes/contacto/ubicacion.png" alt="logo de ubicacion"></a>
                    <p> Aquí nos puedes encontrar </p>
                </div>
                <hr>
                <div class="copyright">
                    <p>	&copy; 2023 - Gaston Balbi</p> <br>
                    <a href="https://www.aepd.es/es/politica-de-privacidad-y-aviso-legal">Política de privacidad y aviso legal</a>
                </div>
            </div>    
        </div>   
</footer>   
</body>
</html>